.main {
  background-color: black;
  padding-bottom: 1rem;
  padding-top: 1rem;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  gap: 1rem;
}

.flex__box {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  flex-wrap: wrap;
  gap: 1rem;
  width: 100%;
}

.title {
  text-align: center;
  color: #38d4ae;
  font-weight: bold;
  font-size: 3rem;
  padding: 2rem;
}

.line {
  display: block;
  width: 50%;
  height: 1px;
  background-color: #313131;
  align-self: center;
}
