.main {
  background-color: black;
  padding-bottom: 1rem;
  padding-top: 1rem;
}

.flex__box {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  flex-wrap: wrap;
  gap: 1rem;
  width: 100%;
}

.title {
  text-align: center;
  color: #38d4ae;
  font-weight: bold;
  font-size: 3rem;
  padding: 2rem;
}

.collection__unit {
  background-color: #1e1e1e;
  width: 40%;
  height: 500px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  color: #ffffff;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  cursor: pointer;
}

.collection__unit img {
  width: 70%;
  height: 70%;
}

.collection__unit h2 {
  font-weight: bold;
  color: #ffffff;
}

.collection__unit p {
  opacity: 0.8;
  font-size: 18px;
}

/* responsive size */

@media only screen and (max-width: 768px) {
  /* For mobile phones: */

  .collection__unit {
    width: 100%;
    height: 400px;
  }
}
