.main {
  background-color: black;
}

.flex__box {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
  flex-wrap: wrap;
  gap: 1rem;
  width: 100%;
}

.title {
  text-align: center;
  color: #38d4ae;
  font-weight: bold;
  font-size: 3rem;
  padding: 2rem;
}
