.menuBurger {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  overflow: hidden;
  -webkit-animation-name: opacity;
  animation-name: opacity;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
}

.leftSide {
  width: 60%;
  background-color: black;
  -webkit-animation-name: width;
  animation-name: width;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
}

.leftSide button {
  display: block;
  background-color: transparent;
  border: none;
  color: white;
  font-size: 2rem;
  font-weight: bolder;
  padding: 1rem;
  margin-top: 2rem;
  margin-left: 0.5rem;
}

.rightSide {
  width: 40%;
  display: flex;
}

.sections__mobile {
  display: flex;
  height: 60%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  height: 30%;
}

.sections__mobile a {
  color: white;
  font-size: 1.3rem;
  letter-spacing: -1.2px;
  opacity: 0.6;
  text-decoration: none;
}

@keyframes opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes width {
  from {
    width: 0;
  }
  to {
    width: 60%;
  }
}
