.main__container {
  width: 100%;
  min-height: calc(100vh - 200px);
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  letter-spacing: -1.5px;
}

.cover {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.text__box {
  text-align: center;
  font-size: 2.5rem;
  font-weight: bold;
}

.smaller__text {
  font-size: 2rem;
  transform: translateY(-17px);
  -webkit-transform: translateY(-17px);
  -moz-transform: translateY(-17px);
  -ms-transform: translateY(-17px);
  -o-transform: translateY(-17px);
  color: #3efdce;
  opacity: 0.8;
}

.text__box p {
  font-size: 1.8rem;
  color: #b1becd;
}

.sm__screen__img {
  display: none;
}

.bg__screen__img {
  width: 400px;
  height: 400px;
  transform: translateY(-40px);
  -webkit-transform: translateY(-40px);
  -moz-transform: translateY(-40px);
  -ms-transform: translateY(-40px);
  -o-transform: translateY(-40px);
}

/* responsive size */

@media only screen and (max-width: 768px) {
  /* For mobile phones: */

  .text__box {
    font-size: 2.5rem;
    margin-top: 100px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .sm__screen__img {
    display: block;
    width: 370px;
    height: 370px;
    transform: translateY(-40px);
    -webkit-transform: translateY(-40px);
    -moz-transform: translateY(-40px);
    -ms-transform: translateY(-40px);
    -o-transform: translateY(-40px);
    margin-bottom: -50px;
    margin-top: -110px;
  }

  .bg__screen__img {
    display: none;
  }

  .smaller__text {
    font-size: 2rem;
    transform: translateY(-13px);
    -webkit-transform: translateY(-13px);
    -moz-transform: translateY(-13px);
    -ms-transform: translateY(-13px);
    -o-transform: translateY(-13px);
    margin-bottom: 3rem;
  }

  .text__box p {
    font-size: 1.8rem;
    display: block;
  }
}

@media only screen and (max-width: 360px) {
  .sm__screen__img {
    display: block;
    width: 280px;
    height: 280px;
    transform: translateY(-40px);
    -webkit-transform: translateY(-40px);
    -moz-transform: translateY(-40px);
    -ms-transform: translateY(-40px);
    -o-transform: translateY(-40px);
    margin-bottom: -40px;
    margin-top: -70px;
  }
}
