.logo {
  color: #cce4cb;
  font-size: 1.8rem;
  font-weight: bold;
  letter-spacing: -0.7px;
  user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Lemon", serif;
  cursor: pointer;
}

.logo span {
  display: block;
  position: relative;
  bottom: 6px;
  font-size: 12px;
  text-align: center;
  color: #3dfecf;
  letter-spacing: normal;
  transform: translateY(-5px);
  -webkit-transform: translateY(-5px);
  -moz-transform: translateY(-5px);
  -ms-transform: translateY(-5px);
  -o-transform: translateY(-5px);
}

/* responsive size */

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
}
