.product__box {
  display: flex;
  padding: 2rem;
  justify-content: space-between;
  min-height: 750px;
  background-color: #181818;
  color: white;
  margin-top: 10px;
  margin-bottom: 20px;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}

.gallery__info {
  display: flex;
  gap: 0.5rem;
  width: 60%;
}

.gallery__thumbs {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  flex-wrap: wrap;
  width: 120px;
  overflow: hidden;
  padding: 5px;
}
.gallery__thumbs img {
  padding: 4px;
  width: 90px;
  height: 90px;
  cursor: pointer;
}

.gallery__main {
  padding: 5px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gallery__main img {
  width: 450px;
  height: 450px;
  cursor: pointer;
}

.product__info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 33%;
  padding: 1rem;
  gap: 1rem;
}

.product__info h1 {
  font-style: italic;
}

.product__info__price {
  font-size: 1.2rem;
  font-weight: 600;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.product__info__description {
  font-weight: bold;
}

.product__info__specs {
  font-size: 1.1rem;
}

.line {
  width: 100%;
  height: 3px;
  border-radius: 1rem;
  background-color: #252525;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}

.add__to_cart {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.product__info__specs li {
  padding: 0.4rem;
  text-align: left;
  font-size: 0.9rem;
}

.add__to_cart button {
  background-color: #e41f2b;
  color: white;
  border: 0;
  font-weight: bold;
  clip-path: polygon(18px 0%, 100% 0%, calc(100% - 18px) 100%, 0% 100%);
  -webkit-clip-path: polygon(18px 0%, 100% 0%, calc(100% - 18px) 100%, 0% 100%);
  padding: 16px 72px;
  text-align: center;
}

.add__to_cart button:hover {
  opacity: 0.7;
}

.add__to_cart select {
  background-color: transparent;
  align-items: center;
  border: 1px solid #2e2e2e;
  padding: 1rem 2rem;
  margin: 0;
  justify-self: center;
  cursor: pointer;
  color: white;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/* responsive size */

@media only screen and (max-width: 1410px) {
  .gallery__info {
    width: 70%;
  }

  .add__to_cart button {
    padding: 8px 34px;
  }
}

@media only screen and (max-width: 994px) {
  /* For mobile phones: */
  .product__box {
    flex-direction: column;
  }

  .product__box {
    min-height: 700px;
  }

  .gallery__info {
    width: 100%;
    flex-direction: column-reverse;
    align-items: flex-start;
    gap: 1rem;
  }

  .gallery__main img {
    width: 350px;
    height: 350px;
  }

  .gallery__thumbs {
    flex-direction: row;
    width: 100%;
  }

  .product__info {
    width: 100%;
  }
}
