.about__section {
  height: calc(100vh);
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  height: 300px;
  width: 300px;
}

.about__container {
  background-color: #141414;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 7px;
  margin-right: 7px;
  padding: 1rem;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
  font-size: 1.5rem;
  color: #b1becd;
  font-weight: 600;
  text-align: center;
}

.about__container span {
  font-weight: bolder;
  font-size: larger;
  color: #3efdce;
  opacity: 0.8;
  font-family: "Black Ops One", system-ui;
}

/* responsive size */

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .about__section {
    height: calc(100svh);
  }
  .about__container {
    font-size: 1.2rem;
    width: 100%;
  }
  img {
    height: 160px;
    width: 160px;
  }
}
